<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Design</title>
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <div class="main" style="
     width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(static/BG.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">MH-CET</h2>
            </div>
            <div class="menu">
                <ul>
                    <li> <a href="#">HOME</a></li>
                    <li> <a href="#">ABOUT</a></li>
                    <li> <a href="#">SERVICE</a></li>
                    <li> <a href="#">DESIGN</a></li>
                    <li> <a href="#">CONTACT</a></li>
                </ul>
            </div>
            <div class="search">
                <input type="search" class="srch" placeholder="Type To text">
                <a href="#"><button class="btn">Search</button></a> <br>
            </div>
            <div class="notification">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> O {{ message }} !!</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="content">
                <h1>STUDY TOP <span> Coaching Centre</span> </h1>
                <p class="para">
                <H2 style=" color: rgb(255, 255, 255);">BE A PART OF THE #1 <b> COACHING INSTITUTE

                    </b>
                </H2>

                <h5 style=" color:rgb(196, 171, 171);"><br>➤ Our 2 Year Program is carefully designed course with
                    Systematic Study Plan, to help students
                    excel in MHT-CET, <br> JEE Main and Std. XI, XII.
                    <br>➤ We have a team of highly experienced professors who have developed a deep insight into the
                    nature and trend of the <br> board exams and engineering entrance exams. They are very friendly
                    and
                    approachable and make every effort to <br> make the subject interesting for the students.
                    <br>
                    ➤ In our Study material, core concepts are explained lucidly through comprehensive theory and
                    solved examples <br> which are designed from basic to advanced level. Students are given
                    complete Study Material for MHT- CET, <br> JEE Main, Std. XI & XII. Module on Short Cut methods
                    and memory tips will also be given for quick revision.
                    <br> ➤ Inbuilt doubt solving sessions help students to clear doubts and strengthen their concepts,
                    ensuring smooth <br> process of learning. Additional support is available online.




                </h5>

                <br><br>

                </p>
                <button class="cn"><a href="register">JOIN US</a></button>
            </div>

            <div class="form" style=" width: 250px; height: 380px;">
                <h2>Login Here</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="username" id="username" name="username" placeholder=" Enter Username">
                    <input type="password" id="pass1" name="pass1" placeholder=" Enter Password">
                    <button class="btnn" type="submit">Login</button>
                </form>
                <p class="link">Don't have an Account
                    <br>
                    <a href="register">sign Up</a>
                </p>
                <p class="liw">Login with</p>
                <div class="icons">
                    <a href="#">
                        <ion-icon name="logo-facebook"> </ion-icon>
                    </a>
                    <a href="https://www.instagram.com/">
                        <ion-icon name="logo-instagram"> </ion-icon>
                    </a>
                    <a href="#">
                        <ion-icon name="logo-twitter"> </ion-icon>
                    </a>
                    <a href="#">
                        <ion-icon name="logo-google"> </ion-icon>
                    </a>
                    <a href="#">
                        <ion-icon name="logo-skype"> </ion-icon>
                    </a>
                </div>


            </div>
            <div class="footer">
                Designed By Mr Abhishek Prasad shelke
            </div>

        </div>

    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>